#school-market {
    margin-top: calc(var(--nav-height) + 100px);
}

#school-market {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search-container {
    background-color: #dcdcdc;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    min-width: 300px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#search-bar {
    font-size: var(--h2-font-size);
    /*입력창 배경 사라져*/
    background: none;
    /*입력창 외곽선 사라져*/
    border: none;
    /* border-bottom 밑줄*/
    /* input창 늘리기 */
    /* 나를감싼 container에 여유공간 생기면, 나를 늘려 */
    flex-grow: 1;
}

#search-bar:focus {
    /* 입력창 focus시, 외곽선 사라져 */
    outline: none;
}

.search-container>i {
    font-size: var(--h2-font-size);
    /* 여백맞추기 */
    margin-top: 4px;
}



.product-container {
    margin: 0 100px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ededed;
    padding: 30px;
    border-radius: 40px;
    /* 내 자손 중 position: absolute;인 아이의 기준 */
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-image {
    height: 200px;
    /* 이미지 너비(앞)/이미지 높이(뒤) 비율*/
    aspect-ratio: 1/1;
    /*cover : 공간에 맞게 확대, 잘림, contain : 공간에 맞게 축소, 여백생김*/
    object-fit: contain;
    border-radius: 10px;
    background-color: white;
}

.product-name {
    background-color: #dcdcdc;
    padding: 4px 30px;
    font-size: var(--h2-font-size);
    border-radius: 19px;
    position: absolute;
    bottom: -19px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* tablet */
@media screen and (max-width:976px) {
    #school-market {
        margin-top: calc(var(--nav-height) + 30px);
    }
}

/* mobile */
@media screen and (max-width:800px) {
    .product-container {
        justify-content: center;
    }
}